<a href="https://colab.research.google.com/github/notGAYathri/Python-codes/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x= int(input("enter the marks"))
y= int(input("enter the marks"))
z= int(input("enter the marks"))
print((x+y+z)/3)

enter the marks10
enter the marks20
enter the marks30
20.0

In [3]:
x= int(input("enter the marks"))
y= int(input("enter the marks"))
z= int(input("enter the marks"))
print(x+z+y)

enter the marks10
enter the marks47
enter the marks29
86

In [4]:
x=int(input("enter the marks-"))
y=int(input("enter the marks-"))
if x>y:
 print(x,"is greater")
else:
  print(y,"is greater")

enter the marks-20
enter the marks-40
40 is greater

In [5]:
x= int(input("enter the number 1- "))
y= int(input("enter the number 2- "))
z= int(input("enter the number 3- "))
if x>y and x>z:
  print(nx,"is greater than the rest")
if y>x and y>x:
  print(y,"is greater than the rest")
else:
  print(z,"is greater than the rest")

enter the number 1- 49
enter the number 2- 34
enter the number 3- 56
56 is greater than the rest

In [6]:
x= int(input())
if x%2==0:
  print("this number is even")
else:
  print("this number is real odd")

23
this number is real odd

In [7]:
for i in range(1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [8]:
ts= str(input("Enter the Departure Location - "))
arrival= str(input("Enter the Destination - "))
no= int(input("Enter Number of Passengers - "))
print("TRAVEL SOURCE - ", ts)
print("DESTINATION - ", arrival)
print("NUMBER OF PASSENGERS - ", no)

Enter the Departure Location - Timbaktu
Enter the Destination - China
Enter Number of Passengers - 209
TRAVEL SOURCE -  Timbaktu
DESTINATION -  China
NUMBER OF PASSENGERS -  209

In [11]:
x= str(input("Enter Passenger Name - "))
y= int(input("Enter Ticket Fare - "))
print(x , "-" , y)

Enter Passenger Name - Addie
Enter Ticket Fare - 210
Addie - 210

In [12]:
x= int(input("Enter Total Ticket Fare - "))
y= int(input("Number of Passengers - "))
print("Ticket Fare Per Person - ", x/y)

Enter Total Ticket Fare - 200309
Number of Passengers - 256
Ticket Fare Per Person -  782.45703125

In [13]:
x= int(input("The Total Ticket Fare - "))
if x>10000:
  print("Eligible for Discount")
else:
  print("Ineligible for Discount")

The Total Ticket Fare - 21590
Eligible for Discount

In [14]:
x= int(input("Enter the Total Ticket Fare - "))
if x>15000:
  print("Eligible for 20% Discount")
else:
  print("Eligible for 10% Discount")

Enter the Total Ticket Fare - 12345
Eligible for 10% Discount

In [15]:
x= int(input("Enter the Total Ticket Fare - "))
if x<10000:
  print(x-(5/100*x))
  print("Applied 5% Discount")
elif x>10000:
  print(x-(10/100*x))
  print("Applied 10% Discount")
elif x>15000:
  print(x-(20/100*x))
  print("Applied 20% Discount")

Enter the Total Ticket Fare - 127654
114888.6
Applied 10% Discount

In [16]:
x= int(input("Enter Number - "))
if x>0:
  print("The Number is Positive")
elif x<0:
  print("The Number is Negative")
else:
  print("The Number is 0")

Enter Number - 12
The Number is Positive

In [17]:
x= int(input("Enter The Age - "))
if x<2:
  print("Infant")
elif x>=2 and x<=5:
  print("Toddler")
elif x>=6 and x<=12:
  print("Kid")
elif x>=13 and x<=18:
  print("Teenager")
else:
  print("Adult")

Enter The Age - 21
Adult

In [18]:
x= str(input("Enter Initial - "))
if x=="a":
  print("It's a Vowel")
elif x=="e":
  print("It's a Vowel")
elif x=="i":
  print("It's a Vowel")
elif x=="o":
  print("It's a Vowel")
elif x=="u":
  print("It's a Vowel")
else:
  print("It's Not a Vowel")

Enter Initial - S
It's Not a Vowel

In [19]:
x= str(input(" Enter Name - "))
for a in x:
  print(a)

 Enter Name - Evelyn Hugo
E
v
e
l
y
n

H
u
g
o

In [20]:
for a in range(44,89):
  print(a)

44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88

In [21]:
k=0
for a in range(1,11):
  k=k+a
  print(k)

1
3
6
10
15
21
28
36
45
55

In [23]:
rows = 6
for a in range(rows):
    for b in range(a):
        print(a, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
k=0
for a in range(1,6):
  k=k+a
  print(a," ",k)

1   1
2   3
3   6
4   10
5   15