<a href="https://colab.research.google.com/github/notGAYathri/Python-codes/blob/main/Python%234.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("enter a number:"))
for i in range(1,11):
  print(x*i)

enter a number:20
20
40
60
80
100
120
140
160
180
200

In [ ]:
x=int(input("enter a number:"))
print("multiplication of",x)
for i in range(1,11):
  
  print(i,"x",x,"=",i*x)

enter a number:5
multiplication of 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
x=int(input("enter a number"))
i=1
while(i<=10):
  print(i*x)
  i=i+1

enter a number7
7
14
21
28
35
42
49
56
63
70

In [23]:
x = 0
y = int(input("Enter a number: "))
while (y > 0):
  y = y//10
  x = x + 1
print("total digits:",x)

Enter a number: 234567453
total digits: 9

In [24]:
x=str(input("enter a word:"))
if x==x[::-1]:
  print("this string is a palindrome :)")
else:
  print("this string is NOT a palindrome :(")

enter a word:malayalam
this string is a palindrome :)

In [32]:
mark1=int(input("Enter marks:"))
mark2=int(input("Enter marks:"))
mark3=int(input("Enter marks:"))
mark4=int(input("Enter marks:"))
mark5=int(input("Enter marks:"))
avgmarks=mark1+mark2+mark3+mark4+mark5/5
print(avgmarks)

Enter marks:20
Enter marks:35
Enter marks:25
Enter marks:43
Enter marks:23
127.6

In [33]:
mark1=int(input("Enter marks:"))
mark2=int(input("Enter marks:"))
mark3=int(input("Enter marks:"))
mark4=int(input("Enter marks:"))
mark5=int(input("Enter marks:"))
avgmarks=mark1+mark2+mark3+mark4+mark5/5
print(round(avgmarks))

Enter marks:20
Enter marks:35
Enter marks:25
Enter marks:43
Enter marks:23
128

In [34]:
mark1=int(input("Enter marks:"))
mark2=int(input("Enter marks:"))
mark3=int(input("Enter marks:"))
mark4=int(input("Enter marks:"))
mark5=int(input("Enter marks:"))
print(max(mark1,mark2,mark3,mark4,mark5))

Enter marks:12
Enter marks:65
Enter marks:43
Enter marks:26
Enter marks:34
65

In [35]:
mark1=int(input("Enter marks:"))
mark2=int(input("Enter marks:"))
mark3=int(input("Enter marks:"))
mark4=int(input("Enter marks:"))
mark5=int(input("Enter marks:"))
print(min(mark1,mark2,mark3,mark4,mark5))

Enter marks:43
Enter marks:53
Enter marks:4
Enter marks:26
Enter marks:74
4