<a href="https://colab.research.google.com/github/notGAYathri/Python-codes/blob/main/Python_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def tts():
  print("Tired Tired Sea")

In [2]:
tts()

Tired Tired Sea

In [3]:
def tts(x,y):
  print(x,"and",y)
tts("Harry","Louis")

Harry and Louis

In [ ]:
def tts(*x): # * represents arbitary number of arguments ie,any number of arguments

In [4]:
def fifa():
  print("Fifa World Cup 2022")

fifa()

Fifa World Cup 2022

In [5]:
def  namies(x,y,z):
  print(x,y,z)

x=input("enter first name:")
y=input("enter middle name:")
z=input("enter last name:")

namies(x,y,z)

enter first name:Niall
enter middle name:James
enter last name:Horan
Niall James Horan

In [6]:
def  namess(x,y,z):
  print(z,x,y)

x=input("enter first name:")
y=input("enter middle name:")
z=input("enter last name:")

namess(x,y,z)

enter first name:Liam
enter middle name:James
enter last name:Payne
Payne Liam James

In [7]:
def fav_celebs( cutee = "Zayn"):
  print(cutee + " is cuteee!")

fav_celebs("Harry")
fav_celebs("Louis")
fav_celebs("Niall")
fav_celebs("Liam")
fav_celebs()

Harry is cuteee!
Louis is cuteee!
Niall is cuteee!
Liam is cuteee!
Zayn is cuteee!

In [8]:
def mypoliceman(x):
  for i in x:
    print(i)

k=["Patrick","Tom","Marion"]
mypoliceman(k)

Patrick
Tom
Marion

In [9]:
def fact(x):
  if x <= 1:
    return x
  else:
    return(fact(x-1)*x)
print(fact(10))

3628800